<launch>
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" output="screen">

    <param name="frequency" value="10"/>
    <param name="delay" value="0.0"/>
    
    <param name="magnetic_declination_radians" value="0.0"/>

    <param name="yaw_offset" value="0.0"/>

    <param name="zero_altitude" value="true"/>

    <param name="broadcast_cartesian_transform" value="false"/>

    <param name="publish_filtered_gps" value="true"/>

    <param name="use_odometry_yaw" value="false"/>

    <param name="wait_for_datum" value="false"/>

    <remap from="/imu/data" to="/imu/fusion" />

    <remap from="/gps/fix" to="/pose/gpgga" />

    <remap from="/odometry/filtered" to="/odometry/global" />

    <remap from="/odometry/gps" to="/odometry/gps" />
  
  </node>

  <node pkg="tf2_ros" type="static_transform_publisher" name="bl_to_imu" args="0 0 0 0 0 0 base_link IMU_link" />

</launch>
